.donorparent{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	
}
.cards{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
}
.card-box{
	transition: transform .2s;
}
.card-box:hover{
	transform: scale(1.2);
}

.midchild{
	width: 60%;
	
}

img{
	transition: transform .2s;
}

img:hover{
	transform: scale(1.5);
}

Button{
	transition: transform .2s;
}

Button:hover{
	transform: scale(1.2);
}

/* medium size devices */
@media only screen and (min-width: 768px) and (max-width: 1023px){

	.donorparent{
		width: 75%;
		flex-direction: column;
		margin-left: 15%;
	}
	.midchild{
		margin-right: 20%;
	}	
}
/* desktop size devices */
@media only screen and (min-width: 1024px) and (max-width: 1366px){

	.donorparent{
		width: 100%;
		flex-direction: row;
	}

}

/* small size devices */
@media only screen and (min-width: 320px) and (max-width: 767px){

	.donorparent{
			width: 40%;
			flex-direction: column;
			justify-content: center;
			align-items: center;			
					
	}
	.midchild{
		margin-right: 20%;
	}
	
}